<div class="container">

  <div class="starter-template">
    <h1 id="Traore">Traoré Electrique</h1>
    <p class="lead"> Un éléctricien diplômé à votre service pour un travail de qualité en toute confiance </p>
  </div>

  <div class="text-center">
  <iframe width="420" height="315" src="//www.youtube.com/embed/jk325qd04vA?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

</div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>