<div class="panel panel-info text-center">
<h1>Merci!</h1>
<p>Nous traitons votre requête dans les plus brefs délais</br>
	<span class="text-center">Daouda Traoré</span>

<div class="text-muted">Mon objectif : Votre satisfaction"</div>
</p>
</div>